/* Color Variables */
$primary-color: #39A4F0;
$primary-color-dark: #333C50;

$blue: #39A4F0;
$blue-france: #2390E1;
$blue-dark: #333C50;
$blue-dark-icon:rgba(51, 60, 80, 0.92);
$blue-dark-transparent: rgba(51, 60, 80, 0.90);
$blue-dark-medium: #5B6178;
$blue-grey: #8391B1;
$green: #56C59A;
$red: #DA4F46;
$orange: #E67E22;
$yellow: #F7BA3F;
$nepal: #97A8BE;
$mystic: #E2EAF1;
$solitude :#E8EEF4;

$white-light: #FDFDFF;
$ghost-white: #F8FAFF;

$background: #F7F7F7;
$background-grey: #F5F7FA;

// Gray scale
$grey-darker: #464646;
$grey-dark: #7D7D7D;
$grey-normal: #D8D8D8;
$grey-medium: #94999C;
$grey: #EBEBEB;
$grey-light: #F4F4F4;
$grey-lighter: #F9F9F9;
$grey-shadow: #C8C8C8;

$text-grey-dark: #525F7F;
$text-grey: #6D7075;
$text-grey-light: #A1A7B0;
$text-grey-blue: #7F889A;

$border-grey-blue: #BFC5D9;
